<h1><%= @job.project_title %></h1>

<h3>Description:</h3>
<p><%= @job.project_description %></p>

<p>&nbsp;</p>
<h4>Skills:</h4>
<p><%= @job.skills %></p>

<p>&nbsp;</p>
<h4>Conditions:</h4>
<p><%= @job.conditions %></p>
<p><%= @job.conditions_comments %></p>


<a class='btn btn-success' id='apply-button' href='https://sjobs.brassring.com/TGWebHost/home.aspx?partnerid=25332&siteid=5286&from=application_portal'>Apply Now</a>



